html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 54px;
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
.checkbox-inline { 
  margin-left: 2%;
}
#Footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0; 
}
.enquire {
  float: right;
}
