{% extends "index.html" %}
{% block title %}
DE Motors - About us
{% endblock %}


{% block content %}
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">About us</h1>

      <ol class="breadcrumb">
      </ol>

      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="/static/img/showroom.jpg"
          alt="">
        </div>
        <div class="col-lg-6">
          <h2>DE Motor Sales Ltd</h2>
          <p>DE Motors Ltd was founded in 2017 by Ben Wilkes after completing
          his Web Desigin and development Degree at the Edinburgh Napier
          University. With a strong knowledge of both the digital and
          automotive worlds, he felt the experience of buying and selling
          exotic german cars could be better.</p>
          
          <p>Whether you're at DE Motors to buy a supercar or just to have a little browse, we want your
          experience, to be personal and leave you wanting to come back. We'll
          do do everything we can to make the process of buying, or
          selling, your next car as enjoyable and hassle-free as possible.</p>  
        </div>
        <div class="col-lg-12">
          <p>We've called Edinburgh, our home from the beginning. We're
          proud to have one of the largest indoor heated showrooms in the
          country, stocking, selling and buying the finest German sports cars
          available on the market. We take pride in being able to guide all of
          our customers, whether new or returning, through every part of
          vehicle ownership, the buying, financing, servicing and selling
          - all from under one roof. Come and visit us today!</p>
        </div>
      </div>
      <!-- /.row -->

      <!-- Team Members -->
      <h2>Our Team</h2>


      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="/static/img/kiki.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Kiki</h4>
              <h6 class="card-subtitle mb-2 text-muted">Customer Service
              Specialist</h6>
              <p class="card-text">Think's he owns the place.</p>
            </div>
            <div class="card-footer">
              <a href="">kiki@fakemail.com</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="/static/img/ben.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Ben Wilkes</h4>
              <h6 class="card-subtitle mb-2 text-muted">Director</h6>
              <p class="card-text">Director, owner, operator, developer...
              and everything else :)</p>
            </div>
            <div class="card-footer">
              <a href="mailto:bennnywilkes@gmail.com">bennnywilkes@gmail.com</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="/static/img/buu.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Buu</h4>
              <h6 class="card-subtitle mb-2 text-muted">Ops Manager</h6>
              <p class="card-text">Responsibilities include sleeping..
              lots and lots of sleeping.</p>
            </div>
            <div class="card-footer">
              <a href="">buu@fakemail.com</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->
    <br>
    </div>
{% endblock %}
