{% extends "index.html" %}
{% block title %}
DE Motors - Contact us
{% endblock %}


{% block content %}
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Contact us </h1>

      <ol class="breadcrumb">
      </ol>

      <!-- Content Row -->
      <div class="row">  
        <!-- Contact Details Column -->
        <div class="col-lg-4">
          <h3>Contact Details</h3>
          <p>
            Edinburgh Napier University
            <br>Merchison Campus
            <br>10 Colinton Road
            <br>Edinburgh
            <br>EH10 5DT
            <br>
          </p>
        </div>
        <div class="col-lg-8">
          <p>Phone: 07789783935</p>
          <p>Email: <a
          href="mailto:bennnywilkes@gmail.com">bennnywilkes@gmail.com</a></p>
          <p>Hours: Mon-Fri 9-5pm</p>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- Map Column -->
        <div class="col-lg-12">
          <!-- Embedded Google Map -->
          <iframe width="100%" height="400px" frameborder="0" scrolling="no"
          marginheight="0" marginwidth="0"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.9428536196615!2d-3.2153086836637654!3d55.933028585544164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c70eb4b4beb1%3A0xc77a6056b88afee0!2s10+Colinton+Rd%2C+Edinburgh+EH10!5e0!3m2!1sen!2suk!4v1508602744882"></iframe>
        </div>
      </div> 
          <br>
    </div>
    <!-- /.container -->
{% endblock %}
