{% extends "index.html" %}

{% block title%}
DE Motors - Porsche GT3 
{% endblock %}


{% block content %}
    <!-- Page Content -->
    <div class="container">
      
      {% for key, value in dict.items() %}
        {% if key == "Porsche" %}
      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">{{ key }} {{ value["Model"] }} ({{ value["Reg Year"] }})
      </h1>

      <ol class="breadcrumb"></ol>

      <!-- Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="/static/img/gt3-1.jpg" alt="">
        </div>

        <div class="col-md-4"> 
          <h3 class="my-3">Price: {{ value["Price"] }}</h3> 
          <p>{{ value["Description"] }}</p>   
          <h3 class="my-3">Features</h3>          
          <ul>
            <li>Engine Size: {{ value["Engine Size"] }}</li>
            <li>Fuel Type: {{ value["Fuel Type"] }}</li>
            <li>Transmission: {{ value["Transmission"] }}</li>
            <li>Mileage: {{ value["Mileage"] }}</li>
          </ul>
          <br>
          <a class="btn btn-primary enquire" id="EnquireBtn" href="{{ url_for('contact') }}">Enquire about this car</a>
        </div>

      </div>
      <!-- /.row -->
      <hr>
      <!-- Related Projects Row -->
      <h3 class="my-4">More images</h3>

      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <img class="img-fluid" src="/static/img/gt3-2.jpg" alt="">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <img class="img-fluid" src="/static/img/gt3-3.jpg" alt="">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <img class="img-fluid" src="/static/img/gt3-4.jpg" alt="">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <img class="img-fluid" src="/static/img/gt3-5.jpg" alt="">
        </div>

      </div>
      <br>
      <!-- /.row -->
  {% endif %}
{% endfor %}

    </div>
    <!-- /.container -->
{% endblock %}
