<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="{{  url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/modern-business.css') }}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <title>{% block title %}DE Motors - Home{% endblock %}</title>


  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">DE Motors</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto"> 
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('inventory') }}">Inventory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

{% block content %}
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image:
          url('/static/img/hero.jpg')">
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Welcome to DE Motors</h1> 

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Car of the week</h4>
            <div class="card-body">
              <p class="card-text">Check out our car of the week! A truly
              beautiful Porche 911 GT3.</p>
              <a href="{{ url_for('porsche') }}">
                <img class="img-fluid rounded" src="/static/img/gt3-1.jpg"></img>
              </a>
            </div>
            <div class="card-footer">
              <a href="{{ url_for('porsche') }}" class="btn btn-primary enquire">See More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Full Inventory</h4>
            <div class="card-body">
              <p class="card-text">Browse our full inventory of cars currently
              in stock.</p>
              <a href="{{ url_for('inventory') }}">
                <img class="img-fluid rounded" src="/static/img/showroom.jpg"></img>
              </a>
            </div>
            <div class="card-footer">
              <a href="{{ url_for('inventory') }}" class="btn btn-primary enquire">See More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">About us</h4>
            <div class="card-body">
              <p class="card-text">Meet Kiki, Buu and Ben. The team behind DE Motors Ltd.</p> 
              <a href="{{ url_for('about') }}">
                <img class="img-fluid rounded" src="/static/img/boys2.jpg"></img>
              </a>
            </div>
            <div class="card-footer">
              <a href="{{ url_for('about') }}" class="btn btn-primary enquire">See More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
     
      <hr>

    </div>
    <!-- /.container -->
    {% endblock %}

    <!-- Footer -->
    <footer class="py-5 bg-dark" id="Footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Ben Wilkes 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='js/de.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/popper/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

  </body>

</html>
