{% extends "index.html" %}

{% block title %}
DE Motors - Inventory 
{% endblock %}


{% block content %}
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Stock Inventory</h1>

      <ol class="breadcrumb">
        <strong id="filter">Filter results by manufacturer</strong><br>
        <label class="checkbox-inline"><input type="checkbox" id="AudiCheck" value="">Audi</label>
        <label class="checkbox-inline"><input type="checkbox" id="BMWCheck" value="">BMW</label>
        <label class="checkbox-inline"><input type="checkbox" id="MercCheck" value="">Mercedes Benz</label>
        <label class="checkbox-inline"><input type="checkbox" id="PorscheCheck" value="">Porsche</label>
      </ol>

      {% for key, value in dict.items() %}
      <!-- Advert -->
      <div class="row" id={{ value["Model"] }}>
        <div class="col-md-4">

        {% if value["Model"] == "M3" %}
          <a href="{{ url_for('bmw') }}">
            <img class="img-fluid rounded mb-3 mb-md-0"
            src="/static/img/m3-1.jpg" alt="">
          </a>
        {% endif %}

        {% if value["Model"] == "911 GT3" %}
          <a href="{{ url_for('porsche') }}">
            <img class="img-fluid rounded mb-3 mb-md-0"
            src="/static/img/gt3-1.jpg" alt="">
          </a>
        {% endif %}

        {% if value["Model"] == "AMG GT GTS" %}
          <a href="{{ url_for('mercedes') }}">
            <img class="img-fluid rounded mb-3 mb-md-0"
            src="/static/img/amg-1.jpg" alt="">
          </a>
        {% endif %}


        {% if value["Model"] == "RS6" %}
          <a href="{{ url_for('audi') }}">
            <img class="img-fluid rounded mb-3 mb-md-0"
            src="/static/img/rs6-1.jpg" alt="">
          </a>
        {% endif %}


        </div>
        <div class="col-md-5">
          <h4>{{ key }} {{ value["Model"] }} ({{ value["Reg Year"] }}) </h4>
          <p>{{ value["Description"] }}</p>
        </div>
        <div class="col-md-3">
          <h6>Price: {{ value["Price"] }}</h6>
          <h6>Engine size: {{ value["Engine Size"] }}</h6>
          <h6>Fuel type: {{ value["Fuel Type"] }}</h6>
          <h6>Transmission: {{ value["Transmission"] }}</h6>
        <br>
        {% if value["Model"] == "M3" %}
          <a class="btn btn-primary" href="{{ url_for('bmw') }}">See more</a>
        {% endif %}

        {% if value["Model"] == "911 GT3" %}
          <a class="btn btn-primary" href="{{ url_for('porsche') }}">See more</a>
        {% endif %}

        {% if value["Model"] == "AMG GT GTS" %}
          <a class="btn btn-primary" href="{{ url_for('mercedes') }}">See more</a>
        {% endif %}

        {% if value["Model"] == "RS6" %}
          <a class="btn btn-primary" href="{{ url_for('audi') }}">See more</a>
        {% endif %}

        </div>
     </div>
     <hr>
      <!-- /.row -->
      {% endfor %}
    <br><br>
    </div>
    <!-- /.container -->
{% endblock %}
